.copyright {
  display: flex;
  padding-top: 22px;
  align-items: center;
  padding-bottom: 20px;
}

.copyright__text {
  padding-right: 27px;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: $black;
}

.copyright__link {
  width: 32px;
  height: 34px;
}
