.main-nav {
  position: relative;
  flex-grow: 1;
}

.main-nav__toggle {
  position: absolute;
  top: 25px;
  right: 26px;
  z-index: 11;
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background: none;
  border: none;
  outline: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: -70px;
  left: 5px;
  z-index: 13;
  width: 20px;
  height: 14px;
  transition: opacity 0.3s ease;
  background-image: url("../../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px 14px;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 4px;
  width: 21px;
  height: 21px;
  background-image: url("../../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 21px 21px;
}

.main-nav__list {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: $mobile-width;
  z-index: 2;
}

.main-nav__item {
  position: relative;
  display: flex;
  border-bottom: 1px solid $gray;

  &--search,
  &--cart {
    position: relative;
  }

  &--new,
  &--sale,
  &--delivery {
    display: none;
  }
}

.main-nav__link {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 23.75%;
  font-weight: bold;
  color: $black;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 1150px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
  }

  .main-nav__item {
    justify-content: flex-start;
    align-items: flex-start;
    width: 26%;
    font-size: 14px;
    border-bottom: none;
  }

  .main-nav__item--search {
    order: -2;
    width: 10.94%;
    font-size: 0;
    border: 1px solid $gray;
    border-top: none;
  }

  .main-nav__item--cart {
    order: -1;
    width: 40.86%;
    font-size: 16px;
    border: 1px solid $gray;
  }

  .main-nav__item--delivery {
    order: 1;
    display: flex;
    width: 48%;
  }

  .main-nav__link {
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: left;
  }

  .main-nav__link--catalog {
    padding-left: 50px;
  }

  .main-nav__link--order {
    padding-left: 18px;
  }

  .main-nav__link--search {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .main-nav__link--cart {
    padding-top: 31px;
    padding-right: 50px;
    padding-bottom: 33px;
    padding-left: 0;
    text-align: right;
  }

  .main-nav__link--delivery {
    width: 100%;
    padding-right: 50px;
    text-align: right;
    color: $black;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    max-width: 1300px;
    margin: 0 auto;
  }

  .main-nav__list {
    justify-content: flex-start;
    min-width: 1150px;
  }

  .main-nav__item {
    font-size: 14px;
    width: 20.7%;
  }

  .main-nav__item--catalog {
    order: -8;
    font-size: 16px;
    border-bottom: 1px solid $gray;
  }

  .main-nav__item--order {
    order: -7;
    font-size: 16px;
    border-left: 1px solid $gray;
    border-bottom: 1px solid $gray;
  }

  .main-nav__item--search {
    order: -5;
    width: 7.4%;
    font-size: 0;
  }

  .main-nav__item--cart {
    order: -4;
    width: 27.3%;
    font-size: 16px;
  }

  .main-nav__item--new {
    display: flex;
    order: -3;
    font-size: 14px;
  }

  .main-nav__item--sale {
    display: flex;
    order: -2;
    font-size: 14px;
  }

  .main-nav__item--delivery {
    order: 1;
    flex-grow: 1;
    font-size: 14px;
  }

  .main-nav__link--catalog,
  .main-nav__link--order,
  .main-nav__link--cart {
    padding-top: 31px;
    padding-bottom: 33px;
  }

  .main-nav__link--order {
    padding-left: 35px;
  }

  .main-nav__link--new,
  .main-nav__link--sale,
  .main-nav__link--delivery {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .main-nav__link--new {
    padding-left: 50px;
  }

  .main-nav__link--sale {
    padding-left: 36px;
  }
}
