.menu-promo__item {
  background-color: $light-green;
  padding: 27px 0;

  &--dark {
    background-color: $dark-green;
  }
}

.menu-promo__link {
  padding: 0 30px;
  color: $white;
  font-size: 19px;
  line-height: 24px;
}
