.page-footer {
  background-color: $grey;
  width: $mobile-width;
  border: solid 1px black;
}

.page-footer-wrap {
  border: solid 1px blue;
  width: $mobile-wrap;
  margin: 0 auto;
  margin-left: 30px;
  margin-right: 30px;
}
