.reviews {
  background-image: url(../../img/bg-zigzag-line.svg);
  background-repeat: repeat-x;
  background-position: 1px bottom;
  background-size: auto 6px;
  padding-bottom: 44px;
}

.reviews__wrap {
  width: $mobile-wrap;
  margin: 0 auto;
  margin-left: 30px;
  margin-right: 30px;
  background-image: none;
}

.reviews__title {
  margin: 0;
  font-size: $font-size-subtitle;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 35px;
}

.reviews-list {
  padding-bottom: 35px;
}

.reviews__item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reviews__text {
  margin: 0;
  padding-bottom: 70px;
  font-size: $font-size-text;
  line-height: 30px;
  color: $text-color;
}

.reviews__author-name {
  font-weight: bold;
  font-size: $font-size-other;
  font-style: normal;
}

.reviews__author-link {
  display: block;
  font-weight: normal;
  line-height: 30px;
  color: $text-color;
  font-style: normal;
}

.reviews__write {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .reviews {
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/review@2x.jpg");
    }
  }

  .reviews__wrap  {
    width: $tablet-wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 83px;
    padding-bottom: 70px;
    border: solid 1px red;
  }

  .reviews__title {
    width: 350px;
    order: 1;
    padding-bottom: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews-list {
    order: 3;
  }

  .reviews__item {
    width: 300px;
    padding-top: 50px;
    font-size: 16px;
  }

  .reviews__text {
    font-size: $font-size-other;
    line-height: 30px;
    width: 668px;
  }

  .reviews__write {
    margin-bottom: 0;
    width: 176px;
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    background: none;
  }

  .reviews__wrap {
    width: $desktop-wrap;
    background-image: url("../../img/review@1x.jpg");
    background-size: 350px 459px;
    background-repeat: no-repeat;
    border: solid 1px green;
    // padding-left: 222px;
    // padding-right: 45px;
    margin: 0 auto;
    margin-right: 100px;
    margin-left: 100px;

   @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/review@2x.jpg");
      background-size: 350px 459px;
    }
  }

  .reviews__title {
    width: 400px;
    font-size: 53px;
    line-height: 57px;
  }

   .reviews__text {
    font-size: $font-size-other;
    line-height: 30px;
    width: 770px;
  }
}
