.slider__toggles-arrow {
  width: 167px;
  display: flex;
  justify-content: center;
  border: soolid 1 px #ececec;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  align-self: flex-start;
  padding-bottom: 38px;


  &--next {
    color: transparent;
    background-image: url("../../img/icon-right-arrow.svg");
  }

  &--previous {
    border: soolid 1 px #ececec;
    color: transparent;
    background-image: url("../../img/icon-left-arrow.svg");
  }
}

@media (min-width: $tablet-width) {
  .slider__toggles-arrow {
    order: 4;
    border: none;
  }

  .reviews__author-link {
    display: block;
  }

  .contacts__write {
    align-self: center;
  }
}
