.social-networks__list {
  padding: 30px 0;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.social-networks__list {
  display: flex;
}

.social-networks__link {
  color: transparent;

  &--instagram {
    background-image: url("../../img/icon-insta.svg");
    background-repeat: no-repeat;
  }

  &--facebook {
    background-image: url("../../img/icon-fb.svg");
    background-repeat: no-repeat;
  }

  &--twitter {
    background-image: url("../../img/icon-twitter.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    display: block;
  }

  .social-networks__list {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer-wrap {
    margin-left: 100px;
    margin-right: 100px;
    border: solid 1px green;
    min-width: $desktop-wrap;
    padding-top: 50px;
    padding-bottom: 54px;
  }
}
